
# Node modules and logs
node_modules/
npm-debug.log
yarn-error.log

# Build outputs
dist/
build/

# Cache files
.npm/
.cache/
.pnpm-store/

# System files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Sphinx documentation outputs
docs/_build/

# Virtual environment for Python
venv/
.env
*.pyc
__pycache__/
/tmp

# db generate csv files
db/*.csv
